@import url('https://fontlibrary.org//face/opendyslexic');

.main {
    z-index: 99;
    user-select: none;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
    
    width: 70px;
    height: 70px;
    background-color: rgb(1, 1, 116);
    border: 1px solid white;

    transition: 0.5s;
}

.main svg {
    fill: rgb(255, 255, 255);;
    transition: 0.5s;
}

.main:hover svg {
    fill: rgb(1, 1, 116);;
}

.main:hover {
    background: white;
    border: 1px solid rgb(1, 1, 116);
}


.dyslexiaFont {
    font-family: 'OpenDyslexicMonoRegular' !important;
    font-weight: normal;
    font-style: normal; 
}

.options {
    position: fixed;
    z-index: 99;
    bottom: 0px;
    left: 100px;
    margin: 10px;

    height: 400px;
    width: 40vw;
    max-width: 400px;
    background-color: rgb(1, 1, 116);
    color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
}

.options > h2 {
    margin: 10px;
}

.options > button {
    margin-top: 10px;
    border: 1px solid ;
    height: 20%;
    width: 90%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    font-weight: bold;
}

.options > button:hover {
    background-color: white;
    color: rgb(1, 1, 116);

}