@import url('https://fontlibrary.org//face/opendyslexic');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.main {
    z-index: 99;
    cursor: pointer;

    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
    
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid;
    font-family: 'Lobster', cursive;

}

.box {
    width: 100px;
    height: 100px;
}

.delexsiaFont {
    font-family: 'OpenDyslexicMonoRegular';
    font-weight: normal;
    font-style: normal; 
}
